.searchForm {
  display: flex;
  align-items: center;
  min-width: 350px;
}

.searchInput {
  padding: 8px;
  /*margin-right: 10px;*/
  border: 1px solid #ccc;
  border-top-left-radius: 10px; /* Скругление верхнего левого угла */
  border-bottom-left-radius: 10px;
  /*border-radius: 4px;*/
  min-width: 500px;
  max-height: 48px;
  min-height: 48px;
}

.searchButton {
  padding: 0px 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-top-right-radius: 10px; /* Скругление верхнего левого угла */
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.searchButton  span {
  margin-top: 6px !important;
}

.searchButton:hover {
  background-color: #0056b3;
}

/* Добавьте другие стили по необходимости */
